/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
body {
    background-color: black;
    color: #fff;
}

/* Criando componentes com CSS */
@layer components {
    .btn {
        /* @apply px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition; */
        @apply inline-flex justify-center items-center;
        @apply px-4 py-2 rounded-lg;
    }

    .btn-primary {
        @apply bg-purple-500 text-white hover:bg-purple-600;
    }

    .btn-secondary {
        @apply bg-zinc-500 text-white hover:bg-zinc-600;
    }

    .btn-danger {
        @apply bg-red-500 text-white hover:bg-red-600;
    }

    .input {
        @apply border border-zinc-800 rounded-lg px-4 py-2;
        @apply outline-none focus:border-purple-500;
    }
}